.container{
    width: 100%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.result{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;
}

.playerOne,
.playerTwo{
    width: 80%;
    height: 15px;

    margin: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
    border-radius: 15px;
}

.playerOne h1,
.playerTwo h1{
    font-size: 14px;
    color: #fff;
    margin: 0;
}

.currentPlayer{
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;
}

.currentPlayer span{
   font-size: 18px;
}

.winner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.winner h1:first-child{
    font-size: 65px;
    margin: 0;
}

.winner h1:last-child{
    font-size: 25px;
}

.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 40px;
}

.bottom button,
.bottom .mode select{
    width: 100px;
    height: 35px;

    padding: 10px;

    outline: none;
    cursor: pointer;

    border: none;
    border-radius: 5px;

    background-color: #34495e;
    color: #fff;

    transition: .3s;
}

.bottom button:hover{
    background-color: #192027;
}


@media only screen and (min-width: 550px) {
    .container{
        width: 60%;
    }

    .playerOne{
        margin: 0 10px 0 0;
    }
    .playerTwo{
        margin: 0 0 0 10px;
    }
    .bottom{
        padding: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .container{
        width: 30%;
    }
}