.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 500px;
    height: 300px;
}

.content{
    width: 180px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: aqua;
}

.result,
.bottom{
    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.playerOne,
.playerTwo{
    width: 100%;
    height: 15px;

    margin: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
    border-radius: 15px;
}

.playerOne h1,
.playerTwo h1{
    font-size: 20px;
    color: #fff;
    margin: 0;
}

.currentPlayer{
    margin-bottom: 20px;
}

.winner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winner h1:first-child{
    font-size: 65px;
    margin: 0;
}

.winner h1:last-child{
    font-size: 25px;
}

.bottom button,
.bottom .mode select{
    width: 100px;
    height: 35px;

    outline: none;
    cursor: pointer;

    margin: 60px;

    border: none;
    border-radius: 5px;

    background-color: #34495e;
    color: #fff;

    transition: .3s;
}

.bottom button:hover{
    background-color: #192027;
}