.item{
    width: 58px;
    height: 60px;

    background-color: #16a085;
    margin: 1px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.item h1{
    font-size: 20px;
    color: #fff;
}

.content{
    width: 180px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: aqua;
}
